
@media (min-width:850px) {
    .header h1 {
      font-size: 120px;
    }
}


@media (max-width: 500px) {
    .header h1 {
        font-size: 50px;
        line-height: 64px;
    }

    .main, .jumbotron {
        padding: 0 30px;
    }

    .main img {
        width: 100%;
    }

    
}

@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  